body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
}

header {
    background-color: #ffb327;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

header input{
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 3px;
}

.producto {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 2rem;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.producto:hover {
    border-color: #2a2a2a;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.cargar-mas {
    background-color: #ffb327;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    display: block;
}

.barraBusqueda {
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

.barraBusqueda {
    margin-right: 10px;
}